.header-logo-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-logo-wrapper--left {
    justify-content: flex-end;
}

.header-logo-wrapper--center {
    justify-content: center;
}

.header-logo-wrapper>div {
    margin: 0 20px;
}

.header-logo-wrapper .title-wrapper {
    margin-bottom: 0;
}

.header-logo-wrapper .title {
    font-family: var(--font-heading-family);
    --font-heading-scale: 2;
    margin-bottom: 0;
}

.header-logo-img {
    position: relative;
    width: 140px;
    padding-top: 200px;
}

.header-logo-img .img-ratio {
    object-fit: contain;
}

@media screen and (max-width: 991px) {
    .header-logo-wrapper {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .header-logo-wrapper .title-wrapper {
        padding: 0;
    }

    .header-logo-wrapper .title {
        --font-heading-scale: 1.5;
        text-align: center;
    }

    .header-logo-img {
        width: 120px;
        padding-top: 140px;
    }
}