.product-tab__item {
    display: none;
    margin-bottom: 0px;
}


.product-tab__item.active {
    display: block;
}

.product-tab__item-block {
    margin-bottom: 74px;
}

.product-tab__navigation {
    position: relative;
    background-color: #FFFFFF66;
}

.product-tab__navigation:nth-child(3) {
    background-color: #FFFFFF00;
}

.product-tab__navigation.active::before {
    content: "";
}

.product-tab__navigation.active {
    background-color: var(--gradient-base-background-1);
}

.product-tab__link {
    color: rgb(var(--color-foreground));
    text-transform: uppercase;
    letter-spacing: 0.2em;
    padding: 20px 24px;
}

.product-tab__item {
    background-color: var(--gradient-base-background-1);
    padding: 35px 65px;
}

.product-tab__item--description h2 {
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.product-tab__item--description h2:not(:first-child) {
    margin-top: 24px;
}

.product-tab__item--app h3 {
    font-family: var(--font-body-family);
}

.product-tab__item--description a {
    --bs-link-color-rgb: var(--color-base-accent-2);
}

/* Review App */
.product-tab__item .spr-form-label+.spr-form-input {
    border: 1px solid rgba(var(--color-base-text), 0.1);
    padding: 10px;
}


.product-tab__link.subnav-toggle svg {
    opacity: 0;
    visibility: hidden;
    width: 0;
}

@media screen and (max-width: 750px) {

    .product-tab__links {
        flex-wrap: wrap;
        overflow: hidden;
        height: var(--height);
        margin-bottom: 20px;
    }

    .product-tab__links.active .subnav-toggle svg {
        transform: rotate(-180deg);
    }

    .product-tab__link.subnav-toggle {
        justify-content: space-between;
    }

    .product-tab__link.subnav-toggle svg {
        opacity: 1;
        visibility: visible;
        width: 32px;
        transition: transform 400ms ease;
    }

    .product-tab__navigation {
        width: 100%;
    }

    .product-tab__item {
        padding: 30px 20px;
    }

    .product-tab__item .spr-starrating {
        justify-content: center;
    }
}

.spr-pagination a {
    color: rgba(var(--color-base-accent-2));
}