.product-tab__item {
	display: none;
	margin-bottom: 0px;
}


.product-tab__item.active {
	display: block;
}

.product-tab__item-block {
	margin-bottom: 74px;
}

.product-tab__navigation {
	position: relative;
	background-color: #FFFFFF66;
}

.product-tab__navigation:nth-child(3) {
	background-color: #FFFFFF00;
}

.product-tab__navigation.active::before {
	content: "";
}

.product-tab__navigation.active {
	background-color: var(--gradient-base-background-1);
}

.product-tab__link {
	color: rgb(var(--color-foreground));
	text-transform: uppercase;
	letter-spacing: 0.2em;
	padding: 10px 12px;
	position: relative;
	display: inline-flex;
	align-items: center;
	text-decoration: none;
	font-size: 1.2rem;
}

.product-tab__item {
	background-color: var(--gradient-base-background-1);
	padding: 20px;
	font-size: 14px;
}

.product-tab__item p,
.product-tab__item ul {
	margin-top: 0;
}

.product-tab__item ul {
	list-style: none;
	padding-left: 0.5em;
	margin-left: 0;
}

.product-tab__item ul>li:before {
	display: inline-block;
	content: "-";
	width: 1em;
	margin-left: -1em;
}

.product-tab__item--description h2 {
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.product-tab__item--description h2:not(:first-child) {
	margin-top: 24px;
}

.product-tab__item--description a {
	--bs-link-color-rgb: var(--color-base-accent-2);
}

.product-tab__link.subnav-toggle svg {
	opacity: 0;
	visibility: hidden;
	width: 0;
}

@media screen and (max-width: 750px) {

	.product-tab__links {
		flex-wrap: wrap;
		overflow: hidden;
		height: var(--height);
		margin-bottom: 20px;
	}

	.product-tab__links.active .subnav-toggle svg {
		transform: rotate(-180deg);
	}

	.product-tab__link.subnav-toggle {
		justify-content: space-between;
	}

	.product-tab__link.subnav-toggle svg {
		opacity: 1;
		visibility: visible;
		width: 32px;
		transition: transform 400ms ease;
	}

	.product-tab__navigation {
		width: 100%;
	}

	.product-tab__item {
		padding: 10px 20px;
	}
}

/* WPB */
.product-tab__links {
	display: flex;
	border-bottom: 2px solid #eee;
}

.product-tab__navigation.active {
	background-color: #dadada;
}

.product-tab__navigation.active .product-tab__link::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #dadada;
}

.product-tab__item .table {
	table-layout: fixed;
	border-collapse: collapse;
	font-size: 1.4rem;
	border-style: hidden;
	box-shadow: 0 0 0 0.1rem rgba(var(--color-foreground), 0.2);
	/* draws the table border  */
}

.product-tab__item .table td,
.product-tab__item .table th {
	border: 0.1rem solid rgba(var(--color-foreground), 0.2);
	padding: 3px 5px;
}

.product-tab__item .table td {
	font-weight: 400;
}

.product-tab__item .table th {
	font-weight: 600;
	font-family: var(--font-heading-family)
}

.product-tab__item .table td:not(:first-child) {
	text-align: center;
}