.related-products {
  display: block;
}

.related-products__heading {
  margin: 0 0 3rem;
}

.collection--full-width .related-products {
  padding-left: 0;
  padding-right: 0;
}

@media screen and (min-width: 992px) {
  .collection--full-width .related-products {
    padding: 0;
  }
}

.collection--full-width .related-products .product-grid {
  padding: 0 15px;
}